.sign-in {
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 100px 0 0 20px;

  .title {
    margin: 20px 0;
  }

  .button {
    display: flex;
    justify-content: space-between;
  }
}
