.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  @media screen and (max-width: 1000px) {
    margin-top: 150px;
  }

  @media screen and (max-width: 750px) {
    width: 280px;
  }

  .title {
    margin: 10px 0;
  }
}
