.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.981);
  position: fixed;
  z-index: 2;

  .logo-container {
    height: 100%;
    width: auto;
    font-size: xx-large;

    .logo {
      font-family: "Lacquer", cursive;
      font-size: 40px;
      margin: 10px 0 0 20px;
      align-self: center;

      @media screen and (max-width: 450px) {
        font-size: 32px;
      }
    }
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 750px) {
      display: none;
    }

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
