.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  background-color: rgba(255, 255, 255, 0.981);
  position: fixed;
  z-index: 2;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

  .logo-container {
    height: 100%;
    width: auto;
    font-size: xx-large;

    .logo {
      font-family: "Lacquer", cursive;
      font-size: 40px;
      margin: 10px 0 0 20px;
      align-self: center;

      @media screen and (max-width: 450px) {
        font-size: 32px;
      }

      @media screen and (max-width: 370px) {
        font-size: 28px;
      }
    }
  }
}
